<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.venuebooking.dao.groundbooking.IGroundBookingDao">

    <resultMap id="venuesInfoOwDTO" type="com.cm.venuebooking.pojo.dtos.venuesinfo.VenuesInfoOwDTO">
        <id property="owId" column="ow_id"></id>
        <result property="venuesInfoId" column="venues_info_id"></result>
        <result property="userId" column="user_di"></result>
    </resultMap>

    <resultMap id="groundBookingInfoDTO" type="com.cm.venuebooking.pojo.dtos.bookingorder.GroundBookingInfoDTO">
        <id property="groundBookingId" column="ground_booking_id"></id>
        <result property="serial" column="serial"></result>
        <result property="venuesInfoId" column="venues_info_id"></result>
        <result property="venuesName" column="venues_name"></result>
        <result property="venuesProjectId" column="venues_project_id"></result>
        <result property="projectName" column="project_name"></result>
        <result property="userName" column="user_name"></result>
        <result property="idCardNumber" column="id_card_number"></result>
        <result property="phoneNumber" column="phone_number"></result>
        <result property="orderType" column="order_type"></result>
    </resultMap>

    <resultMap id="myTicketListDTO" type="com.cm.venuebooking.pojo.dtos.bookingorder.MyTicketListDTO">
        <result property="serial" column="serial"></result>
        <result property="bookingDate" column="gmt_create"></result>
        <result property="venueName" column="venue_name"></result>
        <result property="price" column="price"></result>
    </resultMap>

    <resultMap id="venueProjectDTO" type="com.cm.venuebooking.pojo.dtos.bookingorder.VenueProjectDTO">
        <result property="venuesInfoId" column="venues_info_id"></result>
        <result property="venueName" column="venue_name"></result>
        <result property="venuesProjectId" column="serial"></result>
        <result property="projectName" column="project_name"></result>
    </resultMap>

    <select id="listVenuesInfoOw" parameterType="map" resultMap="venuesInfoOwDTO">
        SELECT
            t1.ow_id,
            t1.venues_info_id,
            t1.user_id
        FROM
            gen_venue_ow t1
        WHERE
            t1.user_id = #{userId}
    </select>

    <select id="listPageBookingOrder" parameterType="map" resultMap="groundBookingInfoDTO">
        SELECT
            t1.ground_booking_id,
            t1.ground_info_id,
            t1.user_name,
            t1.id_card_number,
            t1.phone_number,
            t1.booking_order_date,
            t1.arrive_type
        FROM
            gen_booking_info t1
        LEFT JOIN gen_ground_info t2 ON t2.ground_info_id = t1.ground_info_id
        WHERE
            t1.is_delete = 0
        AND FIND_IN_SET(t2.venues_info_id,#{venuesInfoId})
        ORDER BY t1.booking_order_date DESC
    </select>

    <insert id="saveBookingInfo" parameterType="map">
        INSERT INTO gen_booking_info
            (ground_booking_id,serial,venues_info_id,venues_name,venues_project_id,project_name,user_id,nick_name,id_card_number,
             phone_number,order_type,creator,gmt_create,modifier,gmt_modified,is_delete)
        VALUES
            (#{groundBookingId},#{serial},#{venuesInfoId},#{venues_name},#{venuesProjectId},#{project_name},#{userId},#{nickName},#{idCardNumber},
             #{phoneNumber},#{orderType},#{creator},#{gmtCreate},#{modifier},#{gmtModified},#{isDelete})
    </insert>

    <insert id="saveBookingItem" parameterType="map">
        INSERT INTO gen_booking_item
            (booking_item_id,booking_info_id,ground_item_id,booking_order_date,time_str,time_end,price,arrive_type,
             creator,gmt_create,modifier,gmt_modified,is_delete)
        VALUES
            (#{bookingItemId},#{bookingInfoId},#{groundItemId},#{bookingOrderDate},#{timeStr},#{timeEnd},
             #{price},#{arriveType},#{creator},#{gmtCreate},#{modifier},#{gmtModified},#{isDelete})
    </insert>

    <select id="getVenueFromProject" parameterType="map" resultMap="venueProjectDTO">
        SELECT
            t1.venues_project_id,
            t2.dictionary_name project_name,
            t3.venues_info_id,
            t3.venue_name
        FROM
            gen_venues_project t1
        LEFT JOIN data_dictionary t2 ON t2.dictionary_id = t1.project_category
        LEFT JOIN gen_venues_info t3 ON t3.venues_info_id = t1.venue_id
        WHERE
            t1.venues_project_id = #{venuesProjectId}
    </select>

    <select id="listPageMyTicket" parameterType="map" resultMap="myTicketListDTO">
        SELECT
            t1.serial,
            t3.venue_name,
            t1.gmt_create,
            SUM(t4.price) price
        FROM
            gen_booking_info t1
                LEFT JOIN gen_ground_info t2 ON t2.ground_info_id = t1.ground_info_id
                LEFT JOIN gen_venues_info t3 ON t3.venues_info_id = t2.venues_info_id
                LEFT JOIN gen_ground_item t4 ON FIND_IN_SET(t4.ground_item_id,t1.ground_item_id)
        WHERE
            t1.user_id = #{userId}
        GROUP BY
            t1.serial
        ORDER BY t1.creator DESC
    </select>

    <select id="getMyTicketDetail" parameterType="map" resultMap="groundBookingInfoDTO">
        SELECT
            t3.venue_name,
            t5.dictionary_name,
            t1.booking_order_date,
            t2.time_str,
            t2.time_end,
            t2.price
        FROM
            gen_booking_info t1
        LEFT JOIN gen_ground_item t2 ON t2.ground_item_id = t1.ground_item_id
        LEFT JOIN gen_venues_info t3 ON t3.venues_info_id = t1.venues_info_id
        LEFT JOIN gen_venues_project t4 ON t4.venues_project_id = t1.venues_project_id
        LEFT JOIN data_dictionary t5 ON t5.dictionary_id = t4.project_category
        WHERE
            t1.user_id = #{userId}
        AND t1.serial = #{serial}
        ORDER BY
            CONCAT(t1.booking_order_date, ' ', t2.time_str) ASC
    </select>

</mapper>