<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.venuebooking.dao.groundinfo.IGroundInfoDao">

    <resultMap id="groundInfoDTO" type="com.cm.venuebooking.pojo.dtos.groundinfo.GroundInfoDTO">
        <id column="ground_info_id" property="groundInfoId"/>
        <result column="venues_info_id" property="venuesInfoId"/>
        <result column="venues_project_id" property="venuesProjectId"/>
        <result column="ground_name" property="groundName"/>
        <result column="ground_location" property="groundLocation"/>
        <result column="open_close_type" property="openCloseType"/>
    </resultMap>

    <resultMap id="groundItemDTO" type="com.cm.venuebooking.pojo.dtos.groundinfo.GroundItemDTO">
        <id column="ground_item_id" property="groundItemId"/>
        <id column="ground_info_id" property="groundInfoId"/>
        <result column="time_str" property="timeStr"/>
        <result column="time_end" property="timeEnd"/>
        <result column="price" property="price"/>
        <result column="ground_name" property="groundName"/>
    </resultMap>

    <insert id="saveGroundInfo" parameterType="map">
        INSERT INTO gen_ground_info
            (
                ground_info_id, venues_info_id, venues_project_id, ground_name, ground_location, open_close_type,
                creator, gmt_create, modifier, gmt_modified, is_delete
            )
        VALUES
            (
                #{groundInfoId}, #{venuesInfoId}, #{venuesProjectId}, #{groundName}, #{groundLocation},
                #{openCloseType}, #{creator}, #{gmtCreate}, #{modifier}, #{gmtModified}, #{isDelete}
            )
    </insert>

    <insert id="saveGroundItem" parameterType="map">
        INSERT INTO gen_ground_item
            (
                ground_item_id,ground_info_id,time_str,time_end,price
            )
        VALUES
            (
                #{groundItemId},#{groundInfoId},#{timeStr},#{timeEnd},#{price}
            )
    </insert>

    <select id="getGroundInfo" parameterType="map" resultMap="groundInfoDTO">
        SELECT
            t1.ground_info_id,
            t1.venues_info_id,
            t1.venues_project_id,
            t1.ground_name,
            t1.ground_location,
            t1.open_close_type
        FROM
            gen_ground_info t1
        WHERE
            t1.is_delete = 0
        AND t1.ground_info_id = #{groundInfoId}
    </select>

    <select id="listGroundItem" parameterType="map" resultMap="groundItemDTO">
        SELECT
            t1.ground_item_id,
            t1.ground_info_id,
            t1.time_str,
            t1.time_end,
            t1.price
        FROM
            gen_ground_item t1
        WHERE
            t1.ground_info_id = #{groundInfoId}
    </select>

    <update id="updateGroundInfo" parameterType="map">
        UPDATE gen_ground_info SET
            <if test="groundName != null and groundName !=''">
                ground_name = #{groundName},
            </if>
            <if test="groundLocation != null and groundLocation !=''">
                ground_location = #{groundLocation},
            </if>
            <if test="openCloseType != null and openCloseType !=''">
                open_close_type = #{openCloseType},
            </if>
            modifier = #{modifier},
            gmt_modified = #{gmtModified}
        WHERE
            ground_info_id = #{groundInfoId}

    </update>

    <update id="updateGroundItem" parameterType="map">
        UPDATE gen_ground_item SET
            <if test="timeStr != null and timeStr !=''">
                time_str = #{timeStr},
            </if>
            <if test="timeEnd != null and timeEnd !=''">
                time_end = #{timeEnd},
            </if>
            <if test="timeEnd != null and timeEnd !=''">
                price = #{price},
            </if>
            ground_item_id = #{groundItemId}
        WHERE
            ground_item_id = #{groundItemId}
    </update>

    <select id="getGroundItem" parameterType="map" resultMap="groundItemDTO">
        SELECT
            t1.ground_item_id,
            t1.ground_info_id,
            t1.time_str,
            t1.time_end,
            t1.price,
            t2.ground_name
        FROM
            gen_ground_item t1
        LEFT JOIN gen_ground_info t2 ON t2.ground_info_id = t1.ground_info_id
        WHERE
            t1.ground_item_id = #{groundItemId}
    </select>

    <select id="listPageGroundInfo" parameterType="map" resultMap="groundInfoDTO">
        SELECT
            t1.ground_info_id,
            t1.venues_info_id,
            t1.venues_project_id,
            t1.ground_name,
            t1.ground_location,
            t1.open_close_type
        FROM
            gen_ground_info t1
        WHERE
            t1.is_delete = 0
        AND t1.venues_project_id = #{venuesProjectId}
        ORDER BY t1.gmt_create ASC
    </select>
    
    <update id="removeGroundInfo" parameterType="map">
        UPDATE gen_ground_info SET
            is_delete = 1,
            modifier = #{modifier},
            gmt_modified = #{gmtModified}
        WHERE
            ground_info_id IN
            <foreach collection="groundInfoIds" index="index" open="(" separator="," close=")">
                #{groundInfoIds[${index}]}
            </foreach>
    </update>

    <select id="listGroundInfo" parameterType="map" resultMap="groundInfoDTO">
        SELECT
            t1.ground_info_id,
            t1.venues_info_id,
            t1.venues_project_id,
            t1.ground_name,
            t1.ground_location,
            t1.open_close_type
        FROM
            gen_ground_info t1
        WHERE
            t1.is_delete = 0
        AND t1.venues_project_id = #{venuesProjectId}
        ORDER BY t1.gmt_create ASC
    </select>

</mapper>