<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.venuebooking.dao.venuearticle.IVenueArticleDao">

    <resultMap id="venueArticleDTO" type="com.cm.venuebooking.pojo.dtos.venuearticle.VenueArticleDTO">
        <id column="article_content_id" property="articleContentId"/>
        <result column="title" property="title"/>
        <result column="sub_title" property="subTitle"/>
        <result column="summary" property="summary"/>
        <result column="link" property="link"/>
        <result column="images" property="images"/>
        <result column="source" property="source"/>
        <result column="author" property="author"/>
        <result column="publish_date" property="publishDate"/>
        <result column="is_publish" property="isPublish"/>
        <result column="content" property="content"/>
        <result column="sort" property="sort"/>
        <result column="article_category_id" property="articleCategoryId"/>
        <result column="title_join_by_article_category_id" property="titleJoinByArticleCategoryId"/>
        <result column="summary_join_by_article_category_id" property="summaryJoinByArticleCategoryId"/>
    </resultMap>

    <!-- 新增文章内容 -->
    <insert id="save" parameterType="map">
        INSERT INTO article_content(
            article_content_id,
            title,
            sub_title,
            summary,
            link,
            images,
            source,
            author,
            publish_date,
            is_publish,
            content,
            sort,
            article_category_id,
            creator,
            gmt_create,
            modifier,
            gmt_modified,
            is_delete
        ) VALUES(
            #{articleContentId},
            #{title},
            #{subTitle},
            #{summary},
            #{link},
            #{images},
            #{source},
            #{author},
            #{publishDate},
            #{isPublish},
            #{content},
            #{sort},
            #{articleCategoryId},
            #{creator},
            #{gmtCreate},
            #{modifier},
            #{gmtModified},
            #{isDelete}
        )
    </insert>

    <!-- 修改文章内容 -->
    <update id="update" parameterType="map">
        UPDATE
            article_content
        SET
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="subTitle != null and subTitle != ''">
            sub_title = #{subTitle},
        </if>
        <if test="summary != null and summary != ''">
            summary = #{summary},
        </if>
        <if test="link != null and link != ''">
            link = #{link},
        </if>
        <if test="images != null">
            images = #{images},
        </if>
        <if test="source != null and source != ''">
            source = #{source},
        </if>
        <if test="author != null and author != ''">
            author = #{author},
        </if>
        <if test="publishDate != null and publishDate != ''">
            publish_date = #{publishDate},
        </if>
        <if test="isPublish != null">
            is_publish = #{isPublish},
        </if>
        <if test="content != null and content != ''">
            content = #{content},
        </if>
        <if test="articleCategoryId != null and articleCategoryId != ''">
            article_category_id = #{articleCategoryId},
        </if>
        modifier = #{modifier},
        gmt_modified = #{gmtModified}
        WHERE
        article_content_id = #{articleContentId}
    </update>

    <!-- 文章内容详情 -->
    <select id="getVenueArticle" parameterType="map" resultMap="venueArticleDTO">
        SELECT
            t1.title,
            t1.sub_title,
            t1.summary,
            t1.link,
            t1.images,
            t1.source,
            t1.author,
            t1.publish_date,
            t1.is_publish,
            t1.content,
            t1.article_category_id,
            t1.sort,
            t1.article_content_id
        FROM
            article_content t1
        WHERE
            t1.is_delete = 0
        <if test="articleContentId != null and articleContentId != ''">
        AND
            t1.article_content_id = #{articleContentId}
        </if>
    </select>

    <select id="listVenueArticle" parameterType="map" resultMap="venueArticleDTO">
        SELECT
            t1.title,
            t1.sub_title,
            t1.summary,
            t1.link,
            t1.images,
            t1.source,
            t1.author,
            t1.publish_date,
            t1.is_publish,
            t1.content,
            t1.article_category_id,
            t1.sort,
            t1.article_content_id
        FROM
            article_content t1
        WHERE
            t1.is_delete = 0
        AND
            t1.article_category_id = #{articleCategoryId}
        ORDER BY
            t1.gmt_modified DESC
    </select>

</mapper>